@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: rgb(218, 212, 181);
    font-family: 'Poppins', serif;
    padding: 1em
}

header {
    background-color: rgb(242, 232, 198);
    padding: 1em;
    text-align: center;
}

main { 
    background-color: rgb(218, 212, 181);
    padding-bottom: 1em;
    padding: 1em;
}

footer {
    background-color: rgb(152, 43, 28);
    padding-bottom: 1em;
    padding: 1em;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(152, 43, 28);
}

p {
    font-family: sans-serif;
    color: rgb(152, 43, 28);
    
}

a {
    color: rgb(105, 105, 105);
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: rgb(111, 110, 110);
    padding: 1em;
    transition: all 0.3s ease-in;
   
}

a:hover {
    background-color: rgb(203, 23, 23);
    color: rgb(92, 29, 29);
    border-radius: 2em;
}

a:focus {
    
    background-color: rgb(242, 232, 198);
    color: black;
    border-radius: 2em;
}
